<ion-header>
    <ion-toolbar>
      <ion-title>
        <ion-grid>
          <ion-row>
            <ion-col>
                <ion-icon name="lock"></ion-icon> login
            </ion-col>
            <ion-col class="back">
                 <a href="/home">back</a>
            </ion-col>
          </ion-row>
        </ion-grid>  
      </ion-title>
    </ion-toolbar>
  </ion-header>
      
      <ion-content padding>
       
          <ion-item>
              <ion-input type="text" [(ngModel)]="username"   placeholder="user name" ></ion-input>
            </ion-item>
            <br>
            <ion-item>
                    <ion-input type="password"  [(ngModel)]="password"  placeholder="password"   ></ion-input>
           </ion-item>
           <br>
           
           <ion-button  color="success" (click)="login()" expand="full">Login</ion-button>
          
      </ion-content>
      