ion-header ion-toolbar{
  --background:#721313;
  --color:#fff;
}
ion-header ion-toolbar ion-col.back{
  text-align: end;
  
  }
  ion-header ion-toolbar ion-col.back a{
      text-decoration: none;
      color: #fff;
      
      }

ion-button {
  --background: #8edfb0;
  --color:#000;
}
