<ion-header>
   
        <ion-toolbar>
          <ion-title>Login</ion-title>
        </ion-toolbar>
      </ion-header>
      
      <ion-content padding>
       
          <ion-item>
              <ion-input type="text" value=""   placeholder="user name" ></ion-input>
            </ion-item>
            <br>
            <ion-item>
                    <ion-input type="password"  value=""   placeholder="password"   ></ion-input>
           </ion-item>
           <br>
           <ion-button   expand="full">Login</ion-button>
      </ion-content>
      