<ion-header>
  <ion-toolbar>
    <ion-title>register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
       
    <ion-item>
        <ion-input  type="text" value=""   placeholder="name" ></ion-input>
      </ion-item>
      <br>
      <ion-item>
          <ion-input  type="text" value=""   placeholder="user name"  ></ion-input>
        </ion-item>
      
        <br>
      
        <ion-item>
            <ion-input  type="email" value=""   placeholder="eamil " ></ion-input>
          </ion-item>
          <br>
         
      <ion-item>

              <ion-input  type="password" value=""   placeholder="password" ></ion-input>
     </ion-item>

     <br>
     <ion-item>
        <ion-input  type="password" value=""   placeholder="Confirm Password" ></ion-input>
     </ion-item>
     <br>
     <ion-button   color="primary"    expand="full">Next</ion-button>
</ion-content>

